body{background-color:#96EECC;}
h1{
	text-align: center;
	color: #1C88EC;
}
fieldset {
	background-color: ivory;
  margin:12px;
}

label {
	margin: 15px;
}

#boton {
	margin: 12px;
}
input {
	padding: 12px;
}


 

