body{background-color:blanchedalmond;}
h1 {
	text-align: center;
	color: chocolate;
}
fieldset {
	background-color: ivory;
  margin:12px;
}
#Escribe\ aqui\ tu\ comentario\. {
	float: left;
}
label {
	margin: 15px;
}

#boton {
	margin: 12px;
}
input {
	padding: 12px;
}
#logo {
	width: 19%;
	max-width: 601px;
}
