html {
	background-color: #8677EE;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }

a:hover, a:active {
  background-color: red;
}

body {
  text-align: center;
}


div {
	background-color: white;
	position: relative;
	padding-top: 10px;
}
